body{
	font-family: arial;
}
img.tiny{
    width: 30px;
    border: solid thin grey;
}
img.big {
    width: 250px;
    border: solid thin grey;
}

.properties div div{
	display:inline-block;
}
.properties div div:first-child{
	width:20ex;
}
.properties div div:last-child{
	font-weight: bold;
}
a{
	text-decoration: none;
}
.nav_button{
    border: solid thin black;
    padding:1ex;
    margin: 1ex;
    border-radius: 0.5ex;
    width: 15ex;
    text-align: center;
    display: inline-block;
}
.edit-button{
    border: solid thin black;
    padding:1ex;
    margin: 1ex;
    border-radius: 0.5ex;
    width: 8ex;
    text-align: center;
    display: inline-block;
}
.delete-button{
    border: solid thin black;
    padding:1ex;
    margin: 1ex;
    border-radius: 0.5ex;
    width: 8ex;
    text-align: center;
    display: inline-block;
}
.create-button{
    border: solid thin black;
    padding:1ex;
    margin: 1ex;
    border-radius: 0.5ex;
    width: 8ex;
    text-align: center;
    display: inline-block;   
}
.edit-but{
    text-align: center;
    display: inline-block;
}
.del{
    text-align: center;
    display: inline-block;
    background-color: #E5E5E5;
    border: solid thin gray;
    padding:0.3ex;
    border-radius: 0.5ex;
    width: 6ex;
    color: black;
}
.pre-dis{
    pointer-events: none;
    cursor: default;
    text-decoration:none;
    color:gray;
}
.nex-dis{
    pointer-events: none;
    cursor: default;
    text-decoration:none;
    color: gray;
}
.sort a{
    background-color: gray;
    color: white;
    padding: 10px 10px;
    /*text-align: center;*/
    text-decoration: none;
}
.sort a:hover{
    background-color: gray;
    color: black;
}
/*https://stackoverflow.com/questions/2091168/
how-to-disable-a-link-using-only-css*/