<!doctype html>
<!DOCTYPE html>
<html>
<head>
	<title>Create Country</title>
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
	<form action="/addCountryByName">
		<div class="properties">
			<div>
				<div>Name</div>
				<div><input name="country"></div>
			</div>
			<div>
				<div>Capital</div>
				<div><input name="capital"></div>
			</div>
			<div>
				<div>Continent</div>
				<div><input name="continent"></div>
			</div>
			<div>
				<div>Area</div>
				<div><input name="area"></div>
			</div>
			<div>
				<div>Population</div>
				<div><input name="population"></div>
			</div>
			<div>
				<div>GDP (million $)</div>
				<div><input name="gdp"></div>
			</div>
			<div>
				<div>TLD</div>
				<div><input name="tld"></div>
			</div>
		</div>	
		<div>
			<input type="submit">
			<input type="reset">
		</div>	
	</form>
</body>
</html>